<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/css/reset.css' />
  </head>
  <body>
    <nav class="mynav">
      <ul>
        <li><a href="/index">世界</a></li>
        <li><a href="/hall">大厅</a></li>
        <li><a href="/message">消息</a></li>
        <li><a href="/friends">联系人</a></li>
      </ul>
      <ul id="ulRight">
        <li>
          <i class="rIcon color"></i>
        </li>
        <li onclick="lockScreen()">
          <i class="rIcon lock"></i>
        </li>
        <li onclick="toggleFullScreen(event)">
          <i class="rIcon fullscreen" id="screenOP"></i>
        </li>
        <li>
          <a href="/users/userinfo/<%=userinfo._id %>">
            <img src="<%=userinfo.icon %>"  id="userIcon" class="rIcon user">
          </a>
        </li>
        <li style="display:none" id="userName">
          <%=userinfo.username %>
        </li>
        <li style="display:none" id="userId">
          <%=userinfo.userId %>
        </li>
        <li>
          <i class="rIcon other"></i>
        </li>
      </ul>
    </nav>
    <div class="mask" id="mask">
      <div class="masklock">
        <input type="password" value="" name="lockPassword">
        <div class="lockImg" onclick="checkUnlock()">
          <img src="/images/unlock.png" alt="">
        </div>
      </div>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
